@using MeLike.App.Shared.Components

@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="sidebar blue-gradient">
            <div class="col">
                <NavMenu />
            </div>
        </div>

        <div class="col p-0">
            <div class="main w-100 h-100">
                <div class="top-row px-4">
                    <a href="https://github.com/BohdanBuhrii/MeLike" target="_blank">About</a>
                </div>

                <div class="content px-4 w-100 overflow-auto" style="min-height: 90%">
                    @Body
                </div>
            </div>
        </div>

        <div class="col-3 float-right d-none d-lg-block blue-gradient">

        </div>
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>