@using MeLike.Services.ViewModels
@using MeLike.Services.Interfaces

@page "/posts/new"
@inject IPostsService postsService

<h3> Write something interesting ... </h3>

<EditForm Model="@post" OnValidSubmit="OnSubmit">
    
    <InputText id="title" @bind-Value="post.Title" />

    <InputText id="text" @bind-Value="post.Text" />

    <button type="submit">Publish</button>
</EditForm>

@code {
    private PostViewModel post = new PostViewModel();

    private void OnSubmit()
    {
        postsService.Create(post);
        post = new PostViewModel();
    }
}
