@page "/posts"

@using MeLike.Services.ViewModels
@using MeLike.Services.Interfaces
@using MeLike.App.Shared.Components

@inject IPostsService PostService

@attribute [Authorize]

@if (posts == null)
{
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    @foreach (var post in posts)
    {
        <Post Source=@post></Post>
    }
}

<button @onclick =@addPost>Add post</button>

@code {
    IEnumerable<PostViewModel> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostService.GetAllPosts();
    }

    async Task addPost() 
    {
        await PostService.Create(new PostViewModel());
    }
}
