@page "/posts"

@using MeLike.Services.ViewModels
@using MeLike.Services.Interfaces
@using MeLike.App.Shared.Components

@inject IPostsService PostService

@if (posts == null)
{
    <div class="spinner-border" style="position:center" role="status">
        
    </div>
}
else
{
    @foreach (var post in posts)
    {
        <Post Source=@post></Post>
    }
}

@code {
    private IEnumerable<PostViewModel> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostService.GetAllPosts();
    }
}
